* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-white: #ffffff;
    --color-teal: #56ccc8;
    --color-focus: #61cfcc;
    --color-main: #535c60;
    --color-contacts: #c5cdd1;
    --font-size-header: 16px;
    --font-family-main: 'Roboto', sans-serif;
}

body {
    background-color: #475e7b;
    min-height: 100vh;
    padding: 45px;
    font-size: var(--font-size-header);
}

button:focus {
    outline: none;
}

button:hover {
    background: black;
    color: #000;
}


.site-header { 
    font-family: var(--font-family-main);
    background-color: var(--color-white);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-bottom: 20px;
}

.nav_link_main,
.nav_link {
    padding: 10px;
    margin: 0 10px;
    text-align: center;
}

 /* -----burger-menu----------- */
.hamburger {
    display: block;
    width: 60px;
    height: 60px;
    background-color: var(--color-teal);
}
/* ---------------end of menu -----------------*/

.nav_link,
.nav_link_main {
    text-decoration: none;
    color: var(--color-main);
}

.nav_link:focus {
    color: var(--color-focus);
}
.nav_link_main:focus {
    color: var(--color-focus);
}

.navigation {
    background: var(--color-white);
    max-width: 225px;
    max-height: 670px;
    display: flex;
    flex-direction: column;
}

.side-menu {
    list-style-type: none;
}

.side-menu > li {
    border-bottom: 1px solid rgb(161, 161, 161);
    padding: 15px;
    line-height: 20px;
    font-family: var(--font-family-main);
}


.contacts {
    background: var(--color-contacts);
    color: white;
    display: flex;
    flex-direction: column;
}
.contacts ul {
    list-style-type: none;
}

.contacts li {
    padding: 15px;
}
.contacts img {
    float: left;
    margin-right: 10px;
}
.contacts p {
    font-size: 14px;
    line-height: 20px;
}